@charset "utf-8";
/* CSS Document */
@font-face { 
	font-family: Bariol; 
	src: url(fonts/Bariol-Regular.otf); 
} 

@font-face { 
	font-family: Lobster; 
	src: url(fonts/Lobster.otf); 
} 

@font-face { 
	font-family: Museo-Sans; 
	src: url(fonts/MuseoSans-500.ttf); 
} 

@font-face { 
	font-family: Zwodrei; 
	src: url(fonts/Zwodrei.ttf); 
} 

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*General layout throughout whole site*/
body {
  /* Location of the image */
  background-image: url(images/background.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  margin: 0 auto;
  position: relative;
  z-index: 0;
  text-align: center;
  padding-top: 2%;
}


a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #ffffff;
    opacity: .7;

    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

	margin: 0 auto;
	border: 0;
}

a:hover {
    opacity: 1;
	text-decoration: none;
}

.logo{
  padding-top: 19px;
  float: left;
  margin-left: 40px;
  margin-right: -90px;
  opacity: .7;
  margin-bottom: 0;
  font-family:Zwodrei;
  font-style: bold;
  font-size: 30px;

}

.logo:hover{
  padding-top: 19px;
  float: left;
  margin-left: 40px;
  margin-right: -90px;
  opacity: 1;
  margin-bottom: 0;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 19px 0 0 0;
    overflow: hidden;
    font-family:Zwodrei;
    font-style: bold;
    font-size: 20px;
}

.navigation li {
    float: right;
}

.footer{
	position:fixed;
	bottom:0;
	text-align: center;
	font-family:Bariol;
    font-style:bold;
    font-size:15px;
    color: #ffffff;
    width: 100%;
    height: 40px;
}
 

/* home page*/
.main h1{
	font-weight: 700;
	font-size: 50px;
	font-family:Zwodrei;
	font-style: bold;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 52px;
	letter-spacing: 1px;
	padding-top: 12%;
	padding-left: 10%;
	padding-right: 10%;
}

.main h2{
	font-weight: 400;
	font-size: 25px;
	font-style: italic;
	font-family: Bariol, serif;
	color: #ffffff;
	line-height: 50px;
	text-transform: none;	
}

.main p.next {
  position: fixed;
  right: 40px;
  bottom: 40px;
  opacity: .3;
}

.main p.next:hover {
  	opacity: 1;
}

.main p.prev {
  position: fixed;
  left: 40px;
  bottom: 40px;
  opacity: .3;
}

.main p.prev:hover {
  	opacity: 1;
}

/* add quote page*/
.add input
{
	margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    width: 40%;
    height: 40px;
    padding: 10px 10px;
    float: center;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: rgba(255, 255, 255, 0.4);  
    border-radius: 3px 3px 3px 3px;
}

.add select
{
	margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    width: 41%;
    height: 60px;
    padding: 10px 10px;
    float: center;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    border-radius: 3px 3px 3px 3px;
    background: rgba(255, 255, 255, 0.4);  
}

.add input:focus, .add select:focus{
	background-color: rgba(0, 0, 0, 0.2);
}

.add h1 {
  font-weight: 700;
  line-height: 52px;
  color: #ffffff;
  font-family:Bariol;
  font-style:bold;
  font-size:40px;
}

#btn {
	width: 138px;
    height: 44px;
    border-radius: 4px;
    float:center;
    border: 1px solid #253737;
    background: #416b68;
    padding: 10.5px 21px;
    border-radius: 6px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

/* search page*/
.search input.search {
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    width: 40%;
    height: 20px;
    padding: 10px 15px 10px 35px;
    float: center;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: rgba(255, 255, 255, 0.4);  
    border-radius: 20px; 
}


#radio_button {
	margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 50px;
    float: center;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

.search label {
	font-family: Bariol;
	font-size: 25px;
	font-style: bold;
	color: #ffffff;
}

.search label.label_search {
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #ffffff;
}

.search input:focus { 
    background-color: rgba(0, 0, 0, 0.2);
}

/* submit page*/
.submit p {
	font-family: Bariol;
	font-size: 25px;
	font-style: bold;
	color: #ffffff;
	text-align: center;
}